@model IEnumerable<Inventory_Management_system.Models.ValidationClasses.ManagerRegiValid>

@{
    ViewBag.Title = "DisplayManager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DisplayManager</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ManName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManDOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QualificationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManJoiningDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Degree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ManName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManDOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QualificationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManJoiningDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ManId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ManId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ManId })
        </td>
    </tr>
}

</table>
