@model Inventory_Management_system.Models.tblPurchase

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Are you sure you want to delete this?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Product Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase_pro)
        </dd>

        <dt>
            @Html.DisplayName("Quantity")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase_qnty)
        </dd>

        <dt>
            @Html.DisplayName("Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase_date)
        </dd>

    </dl>
    <br />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirm Delete" class="btn btn-warning" /> &nbsp;
            @Html.ActionLink("Back to List", "Index",new { } ,new { @class = "btn btn-secondary" })
        </div>
    }
</div>
